<div class="container">
  <div class="items" id="shop-list">
   <div class="row">
      <h1>All Shops</h1>
      <% @shops.each do |shop| %>
        <div id="shop-<%=shop.id%>">
          <h2>
            <%= link_to shop.name, shop_path(shop: shop.slug) %>
            <%= link_to "Edit Shop", edit_platform_admin_shop_path(id: shop.id, shop: shop.slug)%>
          </h2>
        </div>
      <% end %>
    </div>
  </div>
</div>
