<div class="container">
  <h1><%= @shop.name %> Shop</h1>
  <div class="items">
   <div class="row text-center">
     <h1>All Items</h1>
    <% @shop_items.each do |item| %>
    <%= render partial: './item_column', locals: { item: item } %>
    <% end %>
    </div>
  </div>
</div>
