<h1 class="text-center">tagged_<%= @tag.name %></h1>
<div class="container">
  <% if @tag.items %>
    <% @tag.items.each do |item| %>
    <%= render partial: './item_column', locals: { item: item } %>
    <% end %>
  <% end %>
</div>
