<div class="container">
  <div class="items">
   <div class="row items">
     <h1>all_items</h1>
      <% @items.each do |item| %>
        <%= render partial: './item_column', locals: { item: item } %>
      <% end %>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-8 row">
    <%= paginate @items %>
  </div>
</div>
