<div class="container">
  <div class="item">
    <div class="row text-center">
      <h1><%= @item.name %></h1>
      <div class="col-md-4 col-md-offset-2">
        <%= image_tag @item.image %>
      </div>
      <div class="col-mid-6">
      </div>
      <div class="">
        <%= @item.description %>
      </div>
    </div>
  </div>
</div>
